body {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: center;

}

#item-list img {
  cursor: pointer;
  
}
img{
    width: 150px;
    height: auto;
    border-radius: 10px;
}
.blc{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 5px;
}